{% set footer = craft.entries()
.section('footer')
.site(craft.app.sites.currentSite.handle)
.one() %}
{% set links = craft.entries()
.section('footerNav')
.level(1)
.site(craft.app.sites.currentSite.handle)
.all() %}
 
{% if footer %}
{% set logo     = footer.footerLogo.one() %}
{% set fbIcon   = footer.facebookIcon.one() %}
<footer class="footer">
<div class="footer__content">
<div class="footer__branding">
  {% if logo %}
    <img
      src="{{ logo.url }}"
      alt="{{ siteName }}"
      class="footer__logo"
    >
  {% endif %}
  {% if footer.footerText %}
    <div class="footer__text">
      {{ footer.footerText }}
    </div>
  {% endif %}
  {% if fbIcon and footer.facebookUrl %}
    <a
      href="{{ footer.facebookUrl }}"
      target="_blank"
      class="footer__social"
    >
      <img
        src="{{ fbIcon.url }}"
        alt="Facebook"
        class="footer__social-icon"
      >
    </a>
  {% endif %}
</div>
 
<div class="footer__links">
  <h4 class="footer__links-title">Links</h4>
  <ul class="footer__links-list">
    {% for item in links %}
      {% set tgt = item.navTarget.one() %}
      {% if tgt %}
        <li class="footer__links-item">
          <a href="{{ tgt.url }}" class="footer__links-link">
            {{ item.navLabel ?: tgt.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
</div>
 
<div class="footer__copyright">
{{ footer.copyrightText }}
</div>
</footer>
{% endif %}