<header class="header">
    <div class="header__logo">
        {% set logo = craft.entries().section('siteSettings').one().headerLogo.one() %}
        {% if logo %}
            <a href="{{ siteUrl }}">
                <img src="{{ logo.url }}" alt="{{ siteName }}">
            </a>
        {% endif %}
    </div>

    <nav class="header__nav">
        <ul class="header__nav-list">
            {% for item in craft.entries().section('navStructuur').level(1).all() %}
                {% set target = item.navTarget.one() %}
                {% if target %}
                    <li class="header__nav-item">
                        <a href="{{ target.url }}" class="header__nav-link">
                            {{ item.navLabel ?: target.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <button class="header__menu-toggle" aria-label="Open menu" onclick="document.querySelector('.header__drawer-nav').classList.add('open')">
        <img src="/icons/burger.svg" alt="Menu">
    </button>

    <nav class="header__drawer-nav">
        <button class="header__menu-close" aria-label="Close menu" onclick="document.querySelector('.header__drawer-nav').classList.remove('open')">
            <img src="/icons/cross.svg" alt="Close">
        </button>
        <ul class="header__drawer-menu-list">
            {% for item in craft.entries().section('navStructuur').level(1).all() %}
                {% set target = item.navTarget.one() %}
                {% if target %}
                    <li class="header__drawer-menu-item">
                        <a href="{{ target.url }}" class="header__drawer-menu-link">
                            {{ item.navLabel ?: target.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>