{% set logoAsset = craft.entries()
.section('siteSettings')
.site(craft.app.sites.currentSite.handle)
.one()
.headerLogo.one() %}
 
{% set navItems = craft.entries()
.section('navStructuur')
.level(1)
.all() %}
 
<header class="header">
<div class="header__logo">
{% if logoAsset %}
  <a href="{{ siteUrl }}"><img src="{{ logoAsset.url }}" alt="{{ siteName }}" /></a>
{% endif %}
</div>
 
<nav class="header__nav">
<ul class="header__nav-list">
  {% for item in navItems %}
    {% set target = item.navTarget.one() %}
    {% if target %}
      <li class="header__nav-item">
        <a href="{{ target.url }}" class="header__nav-link">
          {{ item.navLabel ?: target.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
 
</ul>
</nav>
<div class="header__nav-item">
    <a href="/contact" class="header__cta-button">Contacteer Ons</a>
  </div>
 
<button class="header__menu-toggle" aria-label="Open menu">
<img src="/icons/burger.svg" alt="Menu" />
</button>
 
<nav class="header__drawer-nav">
<button class="header__menu-close" aria-label="Close menu">
  <img src="/icons/cross.svg" alt="Close" />
</button>
<ul class="header__drawer-menu-list">
  {% for item in navItems %}
    {% set target = item.navTarget.one() %}
    {% if target %}
      <li class="header__drawer-menu-item">
        <a href="{{ target.url }}" class="header__drawer-menu-link">
          {{ item.navLabel ?: target.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  <li class="header__drawer-menu-item">
    <a href="/contact" class="header__drawer-menu-link">Contacteer Ons</a>
  </li>
</ul>
</nav>
</header>
