{% extends '_layouts/_base.twig' %}

{% block content %}
    <section>
        {% if entry.heroImage.one() %}
            <img src="{{ entry.heroImage.one().url }}">
        {% endif %}
        <h1>{{ entry.heading }}</h1>
    </section>

    <section>
        <div>
            <div>
                <h2>{{ entry.subheading }}</h2>
                <p>{{ entry.shortText }}</p>
            </div>
            {% if entry.image.one() %}
                <img src="{{ entry.image.one().url }}">
            {% endif %}
        </div>

        <div>
            <div>
                <div>
                    <h2>{{ entry.subheading2 }}</h2>
                    <p>{{ entry.shortText2 }}</p>
                </div>
                {% if entry.image2.one() %}
                    <img src="{{ entry.image2.one().url }}">
                {% endif %}
            </div>
            {% if entry.image3.one() %}
                <img src="{{ entry.image3.one().url }}">
            {% endif %}
        </div>

        <div>
            <div>
                <h2>{{ entry.subheading3 }}</h2>
                <p>{{ entry.shortText3 }}</p>
            </div>
            {% if entry.image4.one() %}
                <img src="{{ entry.image4.one().url }}">
            {% endif %}
        </div>

        <div>
            {% for asset in entry.image5.all() %}
                <img src="{{ asset.url }}">
            {% endfor %}
        </div>

        <div>
            <div>
                <h2>{{ entry.subheading4 }}</h2>
                <p>{{ entry.shortText4 }}</p>
            </div>
            {% if entry.image6.one() %}
                <img src="{{ entry.image6.one().url }}">
            {% endif %}
        </div>

        <div>
            <div>
                <h2>{{ entry.subheading5 }}</h2>
                <p>{{ entry.shortText5 }}</p>
            </div>
            {% if entry.image7.one() %}
                <img src="{{ entry.image7.one().url }}">
            {% endif %}
        </div>
{% endblock %}