{% extends '_layouts/_base.twig' %}

{% block content %}
    <section class="hero">
        {% if entry.heroImage.one() %}
            <div class="hero__image">
                <img src="{{ entry.heroImage.one().url }}" alt="{{ entry.heroImage.one().title }}">
            </div>
        {% endif %}
        <div class="hero__content">
            <h1 class="hero__title">{{ entry.heading }}</h1>
        </div>
    </section>

    <section class="content-sections">
        <div class="content-block content-block--left">
            <div class="content-block__text">
                <h2 class="content-block__title">{{ entry.subheading }}</h2>
                <p class="content-block__description">{{ entry.shortText }}</p>
            </div>
            {% if entry.image.one() %}
                <div class="content-block__image">
                    <img src="{{ entry.image.one().url }}" alt="{{ entry.subheading }}">
                </div>
            {% endif %}
        </div>

        <div class="content-block content-block--right">
            <div class="content-block__text">
                <h2 class="content-block__title">{{ entry.subheading2 }}</h2>
                <p class="content-block__description">{{ entry.shortText2 }}</p>
            </div>
            {% if entry.image2.one() %}
                <div class="content-block__image content-block__image--table">
                    <img src="{{ entry.image2.one().url }}" alt="{{ entry.subheading2 }}">
                </div>
            {% endif %}
        </div>

        <div class="content-block content-block--left">
            <div class="content-block__text">
                <h2 class="content-block__title">{{ entry.subheading3 }}</h2>
                <p class="content-block__description">{{ entry.shortText3 }}</p>
            </div>
            {% if entry.image4.one() %}
                <div class="content-block__image">
                    <img src="{{ entry.image4.one().url }}" alt="{{ entry.subheading3 }}">
                </div>
            {% endif %}
        </div>

        {% if entry.subheading4 %}
        <div class="content-block content-block--right">
            <div class="content-block__text">
                <h2 class="content-block__title">{{ entry.subheading4 }}</h2>
                <p class="content-block__description">{{ entry.shortText4 }}</p>
            </div>
            {% if entry.image6.one() %}
                <div class="content-block__image">
                    <img src="{{ entry.image6.one().url }}" alt="{{ entry.subheading4 }}">
                </div>
            {% endif %}
        </div>
        {% endif %}

        {% if entry.subheading5 %}
        <div class="content-block content-block--left">
            <div class="content-block__text">
                <h2 class="content-block__title">{{ entry.subheading5 }}</h2>
                <p class="content-block__description">{{ entry.shortText5 }}</p>
            </div>
            {% if entry.image7.one() %}
                <div class="content-block__image">
                    <img src="{{ entry.image7.one().url }}" alt="{{ entry.subheading5 }}">
                </div>
            {% endif %}
        </div>
        {% endif %}
    </section>
{% endblock %}