{% extends '_layouts/_base.twig' %}

{% block content %}

  <section class="hero">
    {% if entry.heroImage.one() %}
      <div class="hero__image">
        <img src="{{ entry.heroImage.one().url }}">
      </div>
    {% endif %}
    <div class="hero__content">
      <h1 class="hero__title">{{ entry.heading }}</h1>
    </div>
  </section>

  <section class="intro-gallery">
    <div class="intro-gallery__text">
      <h2>{{ entry.subheading }}</h2>
      <p>{{ entry.longText }}</p>
    </div>
    <div class="intro-gallery__images">
      {% for asset in entry.image.all() %}
        <img src="{{ asset.url }}">
      {% endfor %}
    </div>
  </section>

  <section class="paramedisch-section">
    <h2>{{ entry.subheading2 }}</h2>
    <div class="paramedisch-section__items">
      {% for block in entry.paramedish.all() %}
        <div class="card">
          {% for asset in block.image.all() %}
            <img src="{{ asset.url }}">
          {% endfor %}
          <h3>{{ block.subheading }}</h3>
          <p>{{ block.shortText }}</p>
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="zorgteam-section">
    <h2>{{ entry.subheading3 }}</h2>
    <div class="zorgteam-section__items">
      {% for block in entry.zorgteam.all() %}
        <div class="card">
          {% for asset in block.image.all() %}
            <img src="{{ asset.url }}">
          {% endfor %}
          <h3>{{ block.subheading }}</h3>
          <p>{{ block.shortText }}</p>
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="facilitaire-section">
    <h2>{{ entry.subheading4 }}</h2>
    <div class="facilitaire-section__items">
      {% for block in entry.facilitaireDiensten.all() %}
        <div class="card">
          {% for asset in block.image.all() %}
            <img src="{{ asset.url }}">
          {% endfor %}
          <h3>{{ block.subheading }}</h3>
          <p>{{ block.shortText }}</p>
        </div>
      {% endfor %}
    </div>
  </section>

{% endblock %}
