{% extends '_layouts/_base.twig' %}

{% block content %}
    <h1 class="hero__title2">{{ entry.heading }}</h1>

    <main class="content-verhuur">
        <section class="text-verhuur">
            <h2>{{ entry.subheading }}</h2>
            <p>{{ entry.longText}}</p>
        </section>

        <section class="text-verhuur">
            <h2>{{ entry.subheading2 }}</h2>
            <p>{{ entry.shortText}}</p>
        </section>

        <section class="text-verhuur">
            <h2>{{ entry.subheading3 }}</h2>
            <p>{{ entry.shortText2}}</p>
        </section>

        <section class="text-verhuur">
            <h2>{{ entry.subheading4 }}</h2>
            <p>{{ entry.shortText3}}</p>
        </section>

        <section class="text-verhuur">
            <h2>{{ entry.subheading5 }}</h2>
            <p>{{ entry.longText2}}</p>
        </section>
    </main>
    
{% endblock %}