{% extends '_layouts/_base.twig' %}

{% block content %}

    <section class="hero">
        {% if entry.heroImage.one() %}
            <div class="hero__image">
                <img src="{{ entry.heroImage.one().url }}" alt="{{ entry.heroImage.one().title }}">
            </div>
        {% endif %}
        <div class="hero__content">
            <h1 class="hero__title">{{ entry.heading }}</h1>
        </div>
    </section>

    <main class="wonen-content">
        <section class="prijzen">
            <h2>{{ entry.subheading }}</h2>
            <div>
                <p>{{ entry.longText }}</p>
                <p>{{ entry.longText2 }}</p>
            </div>
        </section>

        <section>
                {% for block in entry.contentWonen.all() %}
                    <div>                    
                        <h2>{{ block.subheading }}</h2>
                        <p>{{ block.shortText }}</p>
                    </div>
                    {% for asset in block.image.all() %}
                        <img src="{{ asset.url }}">
                    {% endfor %}
                {% endfor %}            
        </section>

        <section>
            <h2>{{ entry.subheading2 }}</h2>
            <div>
                {% for block in entry.zorgafbeeldingen.all() %}
                    <div>                    
                        <h3>{{ block.subheading }}</h3>
                        <p>{{ block.shortText }}</p>
                    </div>
                    {% for asset in block.image.all() %}
                        <img src="{{ asset.url }}">
                    {% endfor %}
                {% endfor %}
            </div>
        </section>
    </main>

{% endblock %}