{% extends '_layouts/_base.twig' %}
 
{% block content %}
    <section class="hero">
        {% if entry.heroImage.one() %}
            <div class="hero__image">
                <img src="{{ entry.heroImage.one().url }}" alt="{{ entry.heroImage.one().title }}">
            </div>
        {% endif %}
        <div class="hero__content">
            <h1 class="hero__title">{{ entry.heading }}</h1>
        </div>
    </section>
 
    <section class="intro">
        <div class="intro__container">
            <h2 class="intro__title">{{ entry.subheading }}</h2>
            <div class="intro__text">{{ entry.shortText }}</div>
        </div>
    </section>
{% endblock %}